<template>
  <section class="deep-purple">
    <v-container class="deep-purple">
      <v-footer
        dark
        height="auto"
      >
        <v-card
          flat
          tile
          class="deep-purple white--text text-xs-center"
        >
          <v-card-text>
            <v-btn
              v-for="icon in icons"
              :key="icon"
              class="mx-3 white--text"
              icon
            >
              <v-icon size="24px">{{ icon }}</v-icon>
            </v-btn>
          </v-card-text>

          <v-card-text class="white--text pt-0">
            <v-flex 
              xs12 
              md8
              offset-md2>
        
              Just let these leaves jump off the brush There we are. 
              In painting, you have unlimited power. You have the ability 
              to move mountains. Nice little fluffy clouds laying around in the 
              sky being lazy.
            </v-flex>
        
        
          </v-card-text>

          <v-divider />

          <v-card-text class="white--text">
            &copy;2018 — <strong>Pyott Digital / Susan Barclay, Int.</strong>
          </v-card-text>
        </v-card>
      </v-footer>
    </v-container>
  </section>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-instagram'
      ]
    }
  }

}
</script>

<style>

</style>
