<template>
  <div>
    <v-navigation-drawer
      :mini-variant="miniVariant"
      v-model="drawer"
      clipped
      class="transparent"
      color="transparent"
      app>
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :to="item.to"
          :key="i"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :flat="flat"
      :color="scroll"
      dark
      app>
      <!-- <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn>
        {{ offsetTop }}
      </v-btn> -->
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-twitter</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-facebook</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-instagram</v-icon>
      </v-btn>

      <v-divider
        vertical 
        inset />
      
      <v-toolbar-title class="ml-2">
        <h1 class="display-1 font-weight-bold">Barclay<span class="font-weight-light">International</span></h1>
      </v-toolbar-title>
      <v-spacer />
      <v-btn 
        flat
        @click.native="$vuetify.goTo(600)">
        rentals
      </v-btn>
      
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(1050)">
        about us
      </v-btn>
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(1500)">
        contact
      </v-btn>
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(2000)">
        gallery
      </v-btn>
      <v-btn
        flat>
        <v-icon 
          color="red" 
          class="pr-2">fa-heart</v-icon>
        X 3
      </v-btn>
      
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      offsetTop: 0,
      flat: true,
      scroll: 'transparent',
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ],
      miniVariant: false,
      title: 'Vuetify.js'
    }
  },
  created: function() {
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed: function() {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll(e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      if (this.offsetTop < 50) {
        this.scroll = 'transparent'
        
        this.flat = true
        
      }
      if (this.offsetTop > 50) {
        this.scroll = 'deep-purple'
        this.flat = false
        
      }
    }
  }
}
</script>

<style>

</style>
