<template>
  <div>
    <v-toolbar
      :flat="flat"
      :color="scroll"
      dark
      app>
      <!-- <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn>
        {{ offsetTop }}
      </v-btn> -->
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-twitter</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-facebook</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-instagram</v-icon>
      </v-btn>

      <v-divider
        vertical 
        inset />
      
      <v-toolbar-title class="ml-2">
        <h1 class="title font-weight-bold">SBI</h1>
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        offset-y>
        <v-btn 
          slot="activator" 
          flat>
          Info
          <v-icon right>fa-caret-down</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="$vuetify.goTo(600)">
            <v-list-tile-title>Rentals</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(2340)">
            <v-list-tile-title>About Us</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(3100)">
            <v-list-tile-title>Contact</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(4300)">
            <v-list-tile-title>Gallery</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      
    </v-toolbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'MobileToolbar',
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      offsetTop: 0,
      flat: true,
      scroll: 'transparent',
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ],
      miniVariant: false,
      title: 'Vuetify.js'
    }
  },
  computed: {
    ...mapGetters([
      'currentLocation'
    ])
  },
  created: function() {
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed: function() {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll(e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      if (this.offsetTop < 50) {
        this.scroll = 'transparent'
        this.flat = true
      }
      if (this.offsetTop > 50) {
        this.scroll = 'deep-purple'
        this.flat = false      
      }
    }
  }
}
</script>

<style>

</style>
