<template>
  <v-app light>
    <default-toolbar v-if="$vuetify.breakpoint.mdAndUp" />
    <mobile-toolbar v-if="$vuetify.breakpoint.mdAndDown" />
    <v-content class="pt-0">
      <nuxt />
      <fab />
      
    </v-content>
    <default-footer />
  </v-app>
</template>

<script>
import DefaultToolbar from '@/components/DefaultToolbar.vue'
import MobileToolbar from '@/components/MobileToolbar.vue'
import DefaultFooter from '@/components/DefaultFooter.vue'
import Fab from '@/components/Fab.vue'

export default {
  components: {
    DefaultToolbar,
    MobileToolbar,
    DefaultFooter,
    Fab
  },
  data() {
    return {
      
    }
  }
}
</script>
