<template>
  <v-app light>
    <property-toolbar v-if="$vuetify.breakpoint.mdAndUp" />
    <mobile-property v-if="$vuetify.breakpoint.mdAndDown" />
    <v-content>
      <nuxt />
      <fab />
      
    </v-content>
    <default-footer />
  </v-app>
</template>

<script>
import PropertyToolbar from '@/components/PropertyToolbar.vue'
import MobileProperty from '@/components/MobileProperty.vue'
import DefaultFooter from '@/components/DefaultFooter.vue'
import Fab from '@/components/Fab.vue'

export default {
  components: {
    PropertyToolbar,
    MobileProperty,
    DefaultFooter,
    Fab
  },
  data() {
    return {
      
    }
  }
}
</script>
