<template>
  <div class="grey lighten-3">
    <!--
    <v-toolbar
      v-if="$vuetify.breakpoint.mdAndDown"
      :flat="flat"
      :color="scroll"
      dark
      app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn>
        {{ offsetTop }}
      </v-btn> 
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-twitter</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-facebook</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-instagram</v-icon>
      </v-btn>

      <v-divider
        vertical 
        inset />
      
      <v-toolbar-title class="ml-2">
        <h1 class="title font-weight-bold">SBI</h1>
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        offset-y>
        <v-btn 
          slot="activator" 
          flat>
          Info
          <v-icon right>fa-caret-down</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="$vuetify.goTo(600)">
            <v-list-tile-title>Rentals</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(2340)">
            <v-list-tile-title>About Us</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(3100)">
            <v-list-tile-title>Contact</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="$vuetify.goTo(4300)">
            <v-list-tile-title>Gallery</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      
    </v-toolbar>
    <v-toolbar
      v-if="$vuetify.breakpoint.mdAndUp"
      :flat="flat"
      :color="scroll"
      dark
      app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn>
        {{ offsetTop }}
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-twitter</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-facebook</v-icon>
      </v-btn>
      <v-btn 
        icon 
        small>
        <v-icon>fab fa-instagram</v-icon>
      </v-btn>

      <v-divider
        vertical 
        inset />
      
      <v-toolbar-title class="ml-2">
        <h1 class="display-1 font-weight-bold">Barclay<span class="font-weight-light">International</span></h1>
      </v-toolbar-title>
      <v-spacer />
      <v-btn 
        flat
        @click.native="$vuetify.goTo(600)">
        rentals
      </v-btn>
      
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(1050)">
        about us
      </v-btn>
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(1500)">
        contact
      </v-btn>
      <v-btn 
        flat 
        @click.native="$vuetify.goTo(2000)">
        gallery
      </v-btn>
      <v-menu offset-y>
        <v-btn
          slot="activator"
          flat>
          <v-icon 
            color="red" 
            class="pr-2">fa-heart</v-icon>
          X {{ selected.length }}
        </v-btn>
        <v-list>
          <v-list-tile 
            v-for="(item, i) in selected" 
            :key="i">
            <v-list-tile-content>
              <v-list-tile-title>{{ item }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-if="selected.length > 0">
            <v-btn 
              flat 
              color="deep-purple">
              Compare selected
            </v-btn>
          </v-list-tile>
        </v-list>
      </v-menu>
      
    </v-toolbar>
    -->
    <v-img
      :height="$vuetify.breakpoint.smAndDown ? '300px' : '650px'"
      app
      src="/sunset-hero.png"
      gradient="to top right, rgba(100,115,201,.25), rgba(25,32,72,.33)">
      <v-container 
        grid-list-xl 
        fill-height>
        <v-layout 
          row 
          wrap 
          fill-height
          justify-center
          align-center>
          <v-flex 
            xs10
            md5
            class="text-sm-center">
            <h1 class="display-2 font-weight-bold white--text">Welcome to Susan Barclay International</h1>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>

    <section>
      <v-layout
        column
        wrap
        class="my-5"
        align-center
      >
        <v-flex 
          v-if="$vuetify.breakpoint.smAndDown" 
          xs12 
          class="my-3">
          
          <h1 class="display-1 font-weight-bold text-sm-center">Our Rentals</h1>
        </v-flex>
        <v-flex xs12>
          <v-container 
            grid-list-md 
            fluid>
            <v-layout 
              row 
              wrap 
              align-start>
              <v-flex 
                v-for="card in cards"
                :key="card.title"
                xs12
                md3>
                <v-card>
                  <v-img
                    :src="card.src"
                    height="200" />
                  <v-card-text>
                    <h1 class="headline font-weight-bold">{{ card.title }}</h1>
                    <h1 class="caption">{{ card.location }}</h1>
                  </v-card-text>
                  <v-card-text>
                    {{ card.text }}
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      :to="card.to"
                      dark
                      nuxt
                      flat
                      color="teal">
                      See More
                    </v-btn>
                    <v-spacer />
                    <v-btn 
                      icon 
                      @click="toggle(card.title)">
                      <v-icon
                        v-if="selected.indexOf(card.title) < 0"
                        color="grey lighten-1">
                        far fa-heart
                      </v-icon>
                      <v-icon
                        v-else
                        color="red">
                        fas fa-heart
                      </v-icon>
                    </v-btn>
              
                    <v-btn icon>
                      <v-icon color="deep-purple">fa-share</v-icon>
                    </v-btn>
                  </v-card-actions>

                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      
    </section>

    <v-divider />

    <section class="white">
      <v-container 
        grid-list-xl>
        <v-layout 
          row 
          wrap 
          class="my-5">
          <v-flex 
            xs12 
            md6>
            <p class="headline font-weight-bold">Explore the Gulf Coast</p>
            <p>
              Just let these leaves jump off the brush There we are. 
              In painting, you have unlimited power. You have the ability 
              to move mountains. Nice little fluffy clouds laying around in the 
              sky being lazy. Use what you see, don't plan it. It's almost 
              like something out of a fairytale book. 
            </p>
            <v-card 
              flat 
              color="transparent"
              width="300">
              <v-list class="py-0">
                <v-list-tile>
                  <v-list-tile-avatar>
                    <v-icon>fa-phone</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title>
                      Phone:
                    </v-list-tile-sub-title>
                    <v-list-tile-title>
                      (601) 123-4567
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider />
                <v-list-tile>
                  <v-list-tile-avatar>
                    <v-icon>fa-envelope</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-sub-title>
                      Email:
                    </v-list-tile-sub-title>
                    <v-list-tile-title>
                      info@barclay-int.com
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
          <v-flex 
            xs12 
            md6>
            <v-card>
              <v-img
                src="/front-yard.png"
                height="300" />
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <v-divider />
    <section>

      <v-container 
        grid-list-xl>
        <v-layout 
          row 
          wrap
          class="my-5">
          <v-flex 
            xs12 
            md6>
          
            <v-card>
              <v-card-title>
                <h1 class="headline font-weight-bold">Send us a message!</h1>
              </v-card-title>
              <v-card-text class="pb-0">
                <v-text-field 
                  type="text"
                  label="Name"
                  solo
                  background-color="grey lighten-3"
                  flat />
              
                <v-text-field 
                  type="text"
                  solo
                  label="Email"
                  background-color="grey lighten-3"
                  flat />
              
                <v-text-field 
                  type="text"
                  label="Phone"
                  solo
                  background-color="grey lighten-3"
                  flat />
              
                <v-textarea
                  solo
                  flat
                  background-color="grey lighten-3"
                  name="input-7-4"
                  label="Type your message or question here."
                />
              
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn 
                  large 
                  depressed
                  dark
                  color="green">
                  Send
                  <v-icon right>fa-paper-plane</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex 
            xs12 
            md6>
            <v-card>
              <v-card-title>
                <h1 class="headline font-weight-bold">Locate our properties:</h1>
              </v-card-title>
              <v-card-text>
            
                <v-img
                  src="/maps.png"
                  height="415"/>
              </v-card-text>
          </v-card></v-flex>
        </v-layout>
      </v-container>
    </section>

    <v-divider />

    <section class="white">
      <v-container 
        grid-list-xl>
        <v-layout 
          row 
          wrap
          justify-center
          class="my-5">
          <v-flex 
            xs12 
            md10>
            <v-carousel
              height="300">
              <v-carousel-item
                v-for="(item,i) in items"
                :key="i"
                :src="item.src"/>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    


  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      offsetTop: 0,
      flat: true,
      selected: [],
      scroll: 'transparent',
      cards: [
        { 
          title: 'Dauphin 1', 
          src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', 
          location: 'Dauphin Island, AL',
          text: 'Beautiful, gulf-front house with a view!',
          to: '/morningjoy' },
        { 
          title: 'Dauphin 2', 
          src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', 
          location: 'Dauphin Island, AL',
          text: 'Beautiful, gulf-front house with a view!',
          to: '/' },
        { 
          title: 'Dauphin 3', 
          src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', 
          location: 'Dauphin Island, AL',
          text: 'Beautiful, gulf-front house with a view!',
          to: '/' },
        { 
          title: 'Ocean Springs', 
          src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', 
          location: 'Ocean Springs, MS',
          text: 'Beautiful waterfront home with deck!',
          to: '/springs' }
      ],
      items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
          }
        ]
    }
  },
  created: function() {
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed: function() {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll(e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      if (this.offsetTop < 50) {
        this.scroll = 'transparent'
        
        this.flat = true
        
      }
      if (this.offsetTop > 50) {
        this.scroll = 'deep-purple'
        this.flat = false
        
      }
    },
    toggle (card) {
      const i = this.selected.indexOf(card)
      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(card)
      }
    }
  }
}
</script>
