<template>
  <div class="grey lighten-3">
    <section class="white">
      <v-container grid-list-xl>
        <v-layout
          row 
          wrap 
          class="mb-5">
          <v-flex 
            xs12 
            md8>
            <v-card>
              <!-- <v-card-text>
                <h1 class="display-1 font-weight-medium">Gorgeous waterfront home with dock</h1>
                <v-icon 
                  small 
                  class="mr-1">fa-map-marker-alt</v-icon><span class="caption">Ocean Springs, MS</span>
              </v-card-text>
              <v-card-text>
                <v-card>
                  <v-container grid-list-md>
                    <v-layout 
                      row 
                      wrap
                      class="text-xs-center">
                      <v-flex>
                        <div>
                          <v-icon>fa-home</v-icon>
                          <h1 class="caption">House Size</h1>
                          <h1 class="title">2,500 ft2</h1>
                        </div>
                      </v-flex>
                      <v-flex>
                        <div>
                          <v-icon>fa-bed</v-icon>
                          <h1 class="caption">Bedrooms</h1>
                          <h1 class="title">4</h1>
                        </div>
                      </v-flex>
                      <v-flex>
                        <div>
                          <v-icon>fa-users</v-icon>
                          <h1 class="caption">Sleeps</h1>
                          <h1 class="title">10</h1>
                        </div>
                      </v-flex>
                      <v-flex>
                        <div>
                          <v-icon>fa-bath</v-icon>
                          <h1 class="caption">Bathrooms</h1>
                          <h1 class="title">4.5</h1>
                        </div>
                      </v-flex>
                      <v-flex>
                        <div>
                          <v-icon>fa-calendar</v-icon>
                          <h1 class="caption">Min. Stay</h1>
                          <h1 class="title">2 nights</h1>
                        </div>
                      </v-flex>
                        
                    </v-layout>
                  </v-container>
                </v-card>
              </v-card-text> -->
              <v-carousel
                height="300"
                hide-delimiters>
                <v-carousel-item
                  v-for="picture in pictures"
                  :key="picture.name"
                  :src="picture.src">
                  <v-container class="pl-0">
                    <v-layout 
                      row 
                      wrap>
                      <v-flex shrink>
                        <v-card
                          raised
                          dark
                          color="deep-purple">
                          <v-card-text>
                            <h1 class="headline font-weight-bold text-uppercase">{{ picture.name }}</h1>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-carousel-item>
              </v-carousel>
              
              <v-card-text>
                <v-list>
                  <v-list-tile>
                    <h1 class="headline grey--text text--darken-3">Beautiful waterfront home with deck!</h1>
                  </v-list-tile>
                  
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon 
                        color="deep-purple">fa-map-marked-alt</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title>105 Tierra Ct.</v-list-tile-title>
                      <v-list-tile-sub-title>Dauphin Island, AL</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card-text>
              
              <v-divider />
              <v-tabs
                v-model="tabs"
                slider-color="deep-purple"
                fixed-tabs
                grow>
                <v-tab active-class="deep-purple--text">Quick Facts</v-tab>
                <v-tab active-class="deep-purple--text">Features</v-tab>
                <v-tab active-class="deep-purple--text">Reviews</v-tab>
              </v-tabs>
              <v-divider class="deep-purple lighten-4" />
              <v-tabs-items
                v-model="tabs">
                <v-tab-item>
                  <v-container grid-list-md>
                    <v-layout 
                      row 
                      wrap
                      class="text-xs-center">

                      <v-flex
                        v-for="fact in facts"
                        :key="fact.title" 
                        xs6 
                        md3>
                        <div>
                          <v-icon
                            :color="fact.color"
                            large 
                            v-text="fact.icon" />
                          <h1 
                            class="body-1" 
                            v-html="fact.title" />
                          
                        </div>
                      </v-flex>
                      
                        
                    </v-layout>
                  </v-container>
                  
                </v-tab-item>
                <v-tab-item>
                  <v-container grid-list-xl>
                    <v-layout 
                      row 
                      wrap>
                      <v-flex>

                        <v-alert
                          class="mx-5"
                          value="true"
                          outline
                          color="grey darken-1">
                          Discover your dream getaway by booking this amazing 5-bedroom, 
                          5-bathroom vacation rental house in Ocean Springs. Nestled in 
                          the Gulf Hills Golf and Country Club subdivision, this 3-story 
                          home lies directly against the Bayou Porteaux waters of the Gulf of 
                          Mexico.
                        </v-alert>
                        
                        
                        <p class="title mt-5">The Property</p>
                        <p>
                          Master Bedroom: King Bed | Bedroom 2: Queen Bed | Bedroom 3: Full Bed 
                          | Bedroom 4: Queen Bed | Bedroom 5: Queen Bed | Additional Sleeping: 4 Couches (Not Pullout)
                        </p>
                        <p>
                          With sleeping arrangements for 10 guests and flexible accommodations for up 
                          to 12, this beautiful home is the ideal destination for groups of family 
                          and friends looking to fish, kayak, boat, and more! If you tow a water 
                          vessel along, drive 2 miles down the road to the public launch then tie 
                          them up at the property's private dock until your next voyage.
                        </p>
                        <p>
                          Pristine hardwood floors lead you inside the porcelain-white interior, 
                          with natural light flooding through glass doors and elegant window features. 
                          During your downtime, unwind on the open living room's leather sectional 
                          and watch favorite shows or movies on the flat-screen Smart TV.
                        </p>
                        <p>
                          The fully equipped, gourmet kitchen is a chef's dream boasting a center-island 
                          stove top, wine cooler, stainless steel appliances, and bar counter seating - 
                          perfect for entertaining the whole group while you cook! Once you've finished 
                          preparing your home-cooked meal, set the glass dining table with translucent 
                          seating to share a family feast. 
                        </p>
                        <p>
                          A spacious lounge area rests just off the kitchen and includes a keyboard, 
                          flat-screen TV, and a dining table for sharing a quick bite. Head into the 
                          game room after eating to pour a drink at the bar and have some friendly competition 
                          on the pool table. When you need a quick break, cozy up on the leather chaise 
                          lounge and sofa and enjoy the views in the quiet sitting room.
                        </p>
                        <p>
                          This home has decking on all 3 levels with several outdoor amenities to provide 
                          countless hours of luxury during your stay. Relax with stunning Bay views from 
                          the top floor balcony, fire up the grill and dine on the plush furnishings of 
                          the mid-level deck, and catch some shade while laying in the hammock on the first-floor patio.
                        </p>
                        <p>
                          After watching the sunset from the edge of the dock, retreat to one of the 5 spacious 
                          bedrooms with high-end arrangements for the whole family. The master bedroom provides 
                          a magnificent en-suite bathroom featuring a contemporary shower with body jets and a 
                          tropical rainfall showerhead for a peaceful start to each day.
                        </p>
                        <h1 class="title">The Location</h1>
                        <p>
                          This country club subdivision is an architectural paradise with classic and exclusive 
                          homes along the waterfront. Start each morning with leisurely strolls through the 
                          neighborhoods before exploring the bay waters. 
                        </p>
                        <p>
                          The Golf Hills Golf Course lies just down the road to get a round of 18 in and fine-tune 
                          your game. If you also enjoy playing the tables, drive just 10 minutes to Biloxi and 
                          try your luck at one of the waterfront casinos.
                        </p>
                        <p>
                          Downtown Ocean Springs is just a quick 5-minute drive down Washington Avenue and offers 
                          several quaint boutiques, art galleries, and unique restaurants for you to visit during 
                          your stay. Tour the Walter Anderson Museum and walk through local parks, then grab lunch 
                          at Bayview Gourmet and a barbecue dinner with live blues music at Murky Waters.
                        </p>
                        <h1 class="title">Policies</h1>
                        <ul>
                          <li>No smoking</li>
                          <li>No pets</li>
                          <li>No events, parties or large gatherings</li>
                          <li>Note that 10 guests can sleep comfortably in the bedrooms, but the addition of 2 guests on the couches is permitted.</li>
                          <li>Must be at least 25 years old to book</li>
                          <li>Additional fees and taxes may apply</li>
                          <li>Photo ID may be required upon check-in</li>
                        </ul>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-tab-item>
                <v-tab-item>
                  <v-layout 
                    row 
                    wrap>
                    <v-flex>
                      <v-card color="orange">
                        <v-icon>fa-house</v-icon>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-tab-item>
              </v-tabs-items>
              
              
            </v-card>
          </v-flex>
          <v-flex 
            xs12 
            md4>
            <v-card height="300" />
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'property',
  name: 'OceanSprings',
  components: {},
  data() {
    return {
      snackbar: true,
      tabs: 0,
      pictures: [
        { name: 'Front door', src: '/oceansprings/1.jpg' },
        { name: 'Back deck', src: '/oceansprings/2.jpg' },
        { name: 'Living room', src: '/oceansprings/3.jpg' }
      ],
      facts: [
        { icon: 'fa-home', title: '2,500 ft<sup>2</sup>', color: 'teal' },
        { icon: 'fa-bed', title: '4 Bedrooms', color: 'teal' },
        { icon: 'fa-users', title: 'Sleeps 10', color: 'teal' },
        { icon: 'fa-bath', title: '4.5 Bathrooms', color: 'teal' },
        { icon: 'fa-calendar', title: '2 night min. Stay', color: 'teal' },
        { icon: 'fa-umbrella-beach', title: 'Direct beach access', color: 'teal' },
        { icon: 'fa-child', title: 'Children welcome', color: 'teal' },
        { icon: 'fa-smoking-ban', title: '<span class="red--text">No smoking</span>', color: 'red' },
        { icon: 'fa-paw', title: '<span class="red--text">No pets</span>', color: 'red' }
      ],
      location: 
        { state: 'Mississippi', city: 'Ocean Springs', name: 'Deck House' },
    }
  },
  // computed: {
  //   currentLocation: {
  //     get() {
  //       return this.$store.state.location
  //     },
  //     set(location) {
  //       this.$store.commit('UPDATE_LOCATION', location)
  //     }
  //   }
  // },
  created() {
    this.$nuxt.$emit('SET_LOCATION', this.location)
  },
  // mounted: function() {
  //   
  //   currentLocation = this.location
  // }
}
</script>
